[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-dap-ui"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim/dot-config/nvim/pack/graft/opt/copilot.lua"]
	path = nvim/dot-config/nvim/pack/graft/opt/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-nio"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "nvim/dot-config/nvim/pack/graft/opt/CopilotChat.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/CopilotChat.nvim
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/copilot-cmp"]
	path = nvim/dot-config/nvim/pack/graft/opt/copilot-cmp
	url = https://github.com/zbirenbaum/copilot-cmp
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-cmp"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-tmux-navigation"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-tmux-navigation
	url = https://github.com/alexghergh/nvim-tmux-navigation
[submodule "nvim/dot-config/nvim/pack/graft/opt/fzf-lua"]
	path = nvim/dot-config/nvim/pack/graft/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "nvim/dot-config/nvim/pack/graft/opt/conform.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/conform.nvim
	url = https://github.com/stevearc/conform.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/oil.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/gitsigns.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/luasnip"]
	path = nvim/dot-config/nvim/pack/graft/opt/luasnip
	url = https://github.com/L3MON4D3/luasnip
[submodule "nvim/dot-config/nvim/pack/graft/opt/cmp-buffer"]
	path = nvim/dot-config/nvim/pack/graft/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "nvim/dot-config/nvim/pack/graft/opt/cmp-nvim-lua"]
	path = nvim/dot-config/nvim/pack/graft/opt/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua
[submodule "nvim/dot-config/nvim/pack/graft/opt/treewalker.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/treewalker.nvim
	url = https://github.com/aaronik/treewalker.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/cmp-path"]
	path = nvim/dot-config/nvim/pack/graft/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim/dot-config/nvim/pack/graft/opt/plenary.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/cmp-emoji"]
	path = nvim/dot-config/nvim/pack/graft/opt/cmp-emoji
	url = https://github.com/hrsh7th/cmp-emoji
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-treesitter"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/dot-config/nvim/pack/graft/opt/grug-far.nvim"]
	path = nvim/dot-config/nvim/pack/graft/opt/grug-far.nvim
	url = https://github.com/MagicDuck/grug-far.nvim
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-dap"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-web-devicons"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-dap-virtual-text"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "nvim/dot-config/nvim/pack/graft/opt/nvim-dap-go"]
	path = nvim/dot-config/nvim/pack/graft/opt/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule "nvim/dot-config/nvim/pack/graft/start/nvim-notify"]
	path = nvim/dot-config/nvim/pack/graft/start/nvim-notify
	url = https://github.com/rcarriga/nvim-notify
[submodule "nvim/dot-config/nvim/pack/graft/start/cmp-nvim-lsp"]
	path = nvim/dot-config/nvim/pack/graft/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim/dot-config/nvim/pack/graft/start/gruvbox-baby"]
	path = nvim/dot-config/nvim/pack/graft/start/gruvbox-baby
	url = https://github.com/luisiacc/gruvbox-baby
